backend/data/
ml-latest-small/
ml-100k/

node_modules/
__pycache__/
.env
.vscode/

backend/venv/
frontend/node_modules/
**/__pycache__/
*.pyc
.env

__pycache__/
*.py[cod]

# colab çıktıları
*.npy
*.pkl
*.zip

backend/data/ml-latest-small/

