# Veri setlerini tamamen görmezden gel
backend/data/
ml-latest-small/
ml-100k/
node_modules/
__pycache__/
.env
.vscode/

# Python gereksizleri
__pycache__/
*.py[cod]

# Colab çıktıları
*.npy
*.pkl
*.zip